[Unit]
Description=Kibana 4

[Service]
Type=simple
User=logstash
Environment=CONFIG_PATH={{ kibana_home }}/config/kibana.yml
Environment=NODE_ENV=production
ExecStart={{ kibana_home }}/bin/kibana

[Install]
WantedBy=multi-user.target
